.shelf {
  display: absolute;
  width: 74.75in;
  background: tan;
  height: 2in;
  display: flex;
  padding: 0 4in;
  justify-content: space-between;
  counter-reset: count 0;
}

.bracket {
  width: 1in;
  background: brown;
  counter-increment: count 1;
  text-align: center;
}

.bracket::before {
  content: "Bracket " counter(count) " " attr(offsetLeft);
}
