.BlogPage main {
  width: 768px;
  margin: 0 auto;
  background-color: hsl(var(--color-hue) 20% 10%);
}

@media (max-width: 768px) {
  .BlogPage main {
    width: 425px;
  }
}

@media (max-width: 425px) {
  .BlogPage main {
    width: 100%;
  }
}
