:root {
  --luminance: 0.8;
  --chroma: 0.6;
  --color-hue: 200deg;
  --line-height: 1.25; /* 1.5 */
  /* --spacing: 0.25rem; */ /* 1rem */
  --typography-spacing-vertical: 1.15rem; /* 1.5rem */
  --grid-spacing-horizontal: 1rem; /* var(--spacing) */
  --form-element-spacing-vertical: 0.15rem; /* .75rem */
  --form-element-spacing-horizontal: 0.25rem; /* 1rem */
}

@media (prefers-color-scheme: dark) {
  :root {
    --luminance: 0.6;
    --chroma: 0.3;
    --accordion-close-summary-color: var(--color);
    --accordion-active-summary-color: var(--color);
  }
}

@media print {
  :root {
    --chroma: 0;
    --luminance: 1;
    --spacing-block-vertical: 0.1rem;
  }

  .no-print {
    display: none !important;
  }

  .print-only {
    display: inherit;
  }

  :root {
    --card-box-shadow: none !important;
    --card-sectioning-background-color: white !important;
  }

  html {
    font-size: 10pt;
  }

  body {
    --font-size: 10pt;
  }

  body.container {
    max-width: 99% !important;
  }

  a {
    --color: var(--color);
    --color: hsl(205, 20%, 32%);
  }

  a::after {
    content: " (" attr(href) ")";
    text-decoration: underline;
  }
}

@media not print {
  .print-only {
    display: none;
  }
}

body {
  margin-top: var(--block-spacing-vertical);
}

article > header > h3 {
  margin-bottom: 0;
}

.organization {
  grid-area: org;
  margin-bottom: 0;
  border-bottom: thin solid var(--card-border-color);
}

.role,
.education,
.project {
  display: contents;
}

.job,
.education {
  display: grid;
  grid:
    "org" auto
    "about" auto
    "details" auto
    "competences" auto
    / 1fr;
  gap: calc(var(--block-spacing-vertical) / 2)
    calc(var(--block-spacing-horizontal) / 2);
}

@media (min-width: 768px) {
  .job,
  .education {
    grid:
      "_a org" auto
      "about details" auto
      "competences details"
      / 2fr 5fr;
  }
}

.about {
  grid-area: about;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0;
}

.competences ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .about {
    flex-direction: column;
  }

  .competences ul li {
    flex-direction: row;
  }
}

.details {
  grid-area: details;
}

.competences {
  grid-area: competences;
}

.competences ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.competences li {
  list-style: none;
}

@media (min-width: 768px) {
  .competences ul {
    flex-direction: column;
  }
}

@media print {
  .publications section {
    columns: 1;
  }

  .publications section p span.print-only {
    order: 1;
  }
}

.root > header {
  display: grid;
  grid:
    "avatar name" auto
    "avatar title" auto
    "avatar location" auto
    "avatar links"
    / 150px auto;
  gap: 0 var(--block-spacing-horizontal);
}

@media (min-width: 425px) {
  .root > header {
    grid:
      "avatar name links" auto
      "avatar title links" auto
      "avatar location links" auto
      / 150px auto;
  }
}

.root > header hgroup {
  display: contents;
}
.root > header h1 {
  grid-area: name;
}
.root > header h2 {
  grid-area: title;
}
.root > header figure {
  grid-area: avatar;
  margin: 0;
}
.root > header figure img {
  border-radius: 10%;
}
.root > header p.location {
  grid-area: location;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.25em;
}
.root > header p.location span:not(:first-child)::after {
  content: ",";
}
.root > header nav {
  grid-area: links;
}
.root > header nav ul {
  flex-direction: row;
}

.root > header nav a {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.root > header nav ul li {
  text-align: right;
}

@media (min-width: 425px) {
  .root > header nav ul {
    flex-direction: column;
  }
}

.root > footer > nav {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

.artifacts {
  display: grid;
  grid-template-colums: 1fr;
  gap: calc(var(--block-spacing-vertical) / 2)
    calc(var(--block-spacing-horizontal) / 2);
}

@media (min-width: 768px) {
  .artifacts {
    grid-template-columns: 1fr 1fr;
  }
}

@media print {
  .artifacts {
    grid-template-columns: 1fr;
  }
}

.posts {
  display: grid;
  grid: "title" auto "summary" auto / 1fr;
  gap: calc(var(--block-spacing-vertical) / 2)
    calc(var(--block-spacing-horizontal) / 2);
}

@media (min-width: 768px) {
  .posts {
    display: grid;
    grid: "_a title" auto "_b summary" auto / 2fr 5fr;
  }
}
