body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background {
  position: fixed;
  min-height: 100vh;
  background: url("/annie_40/pants.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

article {
  position: relative;
  text-align: center;
  padding: 60px 40px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 20vh 0 100vh 20vw;
}

:root {
  --highlight-color: #e74c3c;
  --subtle-color: #34495e;
  --link-color: #0a045d;
}

h1 {
  font-size: 3em;
  color: var(--subtle-color);
  margin-bottom: 10px;
  font-weight: normal;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 1.8em;
  color: var(--highlight-color);
  margin-bottom: 40px;
  font-style: italic;
}

.details {
  font-size: 1.3em;
  line-height: 2;
  color: var(--subtle-color);
  margin-bottom: 20px;

  p, ul {
    margin: 15px 0;
    color: var(--subtle-color);

    &:first-of-type {
      color: var(--highlight-color);
      font-weight: bold;
    }
  }

  ul {
    color: var(--subtle-color);
  }
}


.divider {
  width: 100px;
  height: 2px;
  background-color: var(--highlight-color);
  margin: 30px auto;
}

.rsvp {
  align-items: left;
  p {
    font-size: 1.1rem;
    color: var(--subtle-color);
    margin-top: 30px;
    font-style: italic;
  }
   ul {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    li {
      list-style-type: none;

      a {
        color: var(--link-color);
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }

      &:first-of-type {
        color: var(--highlight-color);
      }

      &:last-of-type {
        font-size: 1.0rem;
        background-color: var(--highlight-color);
      }
    }
   }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .subtitle {
    font-size: 1.3em;
  }

  .details {
    font-size: 1.1em;
  }

  .container {
    padding: 40px 30px;
  }
}
